
/* image gap is set in gallery.js */
.group {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  /* animation-delay: 200ms; */
}

.column:last-of-type {
  margin-right: 0;
}

.imageContainer {
  display: flex;
  position: relative;
  animation: slide-up 1600ms cubic-bezier(0.65, 0, 0.35, 1) both;
}

.image {
  border-radius: 3px;
  position: relative !important;
}

@keyframes slide-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
