/* .container {
  display: flex;
  justify-content: space-between;
} */


.group {
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
}

.column {
  display: flex;
  flex-direction: column;
  /* margin-right: 1rem; */
  /* gap: 1rem; */
}

.column:last-of-type {
  margin-right: 0;
}

.imageContainer {
  display: flex;
  margin-bottom: 1rem;
   /* flex-grow: 1; */
   /* height: unset; */
  position: relative;
}

.image {
  object-fit: contain;
  position: relative !important;
  /* height: unset !important; */
}

