/* .container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  /* set gap with JS */
  /* gap: 1rem; */


.group {
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
}

.column {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.imageContainer {
  /* set width with JS */
  /* width: 364px; */
  display: flex;
  flex-grow: 1;
  position: relative;
}

.image {
  object-fit: contain;
  position: relative !important;
  height: unset !important;
}

