@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;700&display=swap');
@import url("https://use.typekit.net/csi4xyp.css");

:root {
  --dark: #1E1E1E;
  --light: #F8F8F8;
  --accent: #696B22; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Cormorant SC', serif;
  background: var(--light);
}

h1 {
  font-family: caprizant, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  margin-left: 8px;
  margin-right: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

.hamburger-react {
  color: var(--accent);
}

@media only screen and (min-width: 1024px) {
  main {
    margin-left: 48px;
    margin-right: 48px;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--light);
    background: var(--dark);
  }
} */

